@import "variables";

html {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    background-color: $color-background;
    margin: 0;

    .header {
      width: 100%;
      height: 8vh;
      border-bottom: 1px solid rgb(168, 168, 168);
      padding-top: 30px;

      .container {
        max-width: 80%;
        margin: 0 auto;
      }

      .main-header {
        min-width: 1030px;
        @include flex-container(center, space-between);
        gap: 15px;


        &__logo {
          min-width: 48px;
          min-height: 48px;
        }

        &__picture {
          max-width: 100%;
        }

        &__nav-bar {
          min-width: 50%;
          @include flex-container(center, flex-start);
          flex-flow: row nowrap;

        }

        &__bar {
          @include flex-container(center, center);
          list-style: none;
          gap: 48px;
          padding: 0;
          align-self: stretch;
        }

        &__bar-items {
          width: 69px;
          height: auto;

          a {
            text-decoration: none;
            color: $color-links;
            @include font-text-info(400, 14px)

          }
        }
        &__search-block {
          width: 416px;
          height: 50px;
          @include flex-container(center, center);

          input {
            display: block;
            width: 294px;
            height: 100%;
            background-color: transparent;
            border-left: 1px solid #E1E1E1;
            border-top: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;
            border-right: none;
            @include font-text-info(400, 14px);
            padding-left: 16px;
            outline: none;
          }

          button {
            width: 122px;
            height: 100%;
            background-color: $color-btn;
            border: none;
            color: $color-background;
            padding: 14px 36px;
            @include font-text-info(700, 14px);
            outline: none;
            cursor: pointer;

            &:hover {
              background-color: #776763;
            }
          }
        }
      }
    }
    .catalog {
      margin-top: 45px;
      height: 70vh;

      .container {
        max-width: 80%;
        margin: 0 auto;
      }

      &__title {
        width: 100%;
        @include font-text-info(700, 2.5vmin);
        color: $color-title;
        align-self: stretch;
        margin-bottom: 30px;
      }

      &__items {
        @include flex-container('', space-between);
        flex-flow: row nowrap;
        gap: 30px;

        .catalog-item {
          height: 330px;
          border: 1px solid #E1E1E1;
          display: flex;
          flex-flow: column nowrap;

          &__name {
            @include font-text-info(400, 2vmin);
            padding-left: 20px;
            padding-top: 20px;
          }
          &__images {
            max-width: 300px;
          }
          &__picture {
            display: block;
            max-width: 100%;
            height: 100%;

          }

          &__author {
            @include font-text-info(400, 1.5vmin);
            padding-left: 20px;
          }

          .old-price {
            width: 100%;
            @include font-text-info(400, 14px);
            padding-left: 20px;
            position: relative;
            top: 40px;
            text-decoration: line-through;
            color: #9f9f9f;

          }

          &__price {
            @include font-text-info(400, 2vmin);
            padding-left: 20px;
            padding-right: 15px;
            padding-top: 20px;
            @include flex-container(flex-end, space-between)
          }

          &__btn {
            width: 112px;
            height: 48px;
            background-color: $color-btn;
            color: #E1E1E1;
            @include font-text-info(700, 14px);
            cursor: pointer;
            border: none;
            outline: none;
            position: relative;

            &:hover {
              background-color: #776763;
            }
          }
        }

        .active {
          background-color: #5B3A32 !important;
        }
        .disable {
          background-color: #C1B4B1;
          font-size: 0px;
        }

        .loading::after {
          content: "";
          position: absolute;
          width: 30px;
          height: 30px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          border: 4px solid transparent;
          border-top-color: #ffffff;
          border-radius: 50%;
          animation: button-loading-spinner .5s both infinite;
        }

        @keyframes button-loading-spinner {
          from {
            transform: rotate(0turn);
          }

          to {
            transform: rotate(1turn);
          }
        }

        .status {
          opacity: .6;
        }

        .center {
          padding-top: 30px;
        }

      }
    }
    .footer {
      width: 100%;
      height: 8vh;
      background-color: #cbcbcb;
      margin-top: 55px;
      padding: 25px 0;

      .container {
        max-width: 80%;
        height: 100%;
        margin: 0 auto;
      }

      &__block{
        min-height: 100%;
        @include flex-container(center, space-between);
      }

      &__nav-bar{
        width: 50%;
        @include flex-container(center, flex-start);
        flex-flow: row nowrap;
        align-self: stretch;
      }
      &__bar{
        @include flex-container(center, center);
        flex-flow: row nowrap;
        padding: 0;
        list-style: none;
        gap: 48px;
      }

      &__bar-items {
        width: 69px;
        height: auto;

        a {
          text-decoration: none;
          color: $color-links;
          @include font-text-info(400, 14px)

        }
      }
      &__info {
        display: flex;
        gap: 51px;
      }

      &__phone {
        @include font-text-info(400, 14px)
      }

      &__address{
        @include font-text-info(400, 14px)
      }
    }
  }
}
